<div class="col-md-12">
  <form [formGroup]="encounterOptionsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="partyLevel" class="col-md-2 col-form-label">{{ 'encounter.partylevel' | translate }}</label>
      <div class="col-md-3 text-left">
        <ng-select [items]="partyLevels" [clearable]="false" id="partyLevel" formControlName="partyLevel">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <label for="partySize" class="col-md-2 col-form-label">{{ 'encounter.partysize' | translate }}</label>
      <div class="col-md-3 text-left">
        <ng-select [items]="partySizes" [clearable]="false" id="partySize" formControlName="partySize">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <label for="monsterTypes" class="col-md-2 col-form-label">{{ 'encounter.type' | translate }}</label>
      <div class="col-md-3 text-left">
        <ng-select [multiple]="true" [items]="_monsterTypes" bindLabel="key" bindValue="value" id="monsterType"
          formControlName="monsterTypes">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <label for="difficulty" class="col-md-2 col-form-label">{{ 'encounter.difficulty' | translate }}</label>
      <div class="col-md-3 text-left">
        <ng-select [items]="difficulties" bindLabel="key" bindValue="value" id="difficulty"
          formControlName="difficulty">
        </ng-select>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="submit">{{ 'common.generate' | translate }}</button>
    </div>
  </form>
</div>
<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">{{ 'encounter.monstername' | translate }}</th>
        <th scope="col" sortable="count" (sort)="onSort($event)">{{ 'encounter.count' | translate }}</th>
        <th scope="col" sortable="difficulty" (sort)="onSort($event)">{{ 'encounter.difficulty' | translate }}</th>
        <th scope="col" sortable="type" (sort)="onSort($event)">{{ 'encounter.type' | translate }}</th>
        <th scope="col" sortable="xp" (sort)="onSort($event)">{{ 'encounter.xp' | translate }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let encounter of encounterModel.encounters; index as i">
        <td class="w-5">{{ i + 1 }}</td>
        <td class="w-10">{{ encounter.name }}</td>
        <td class="w-10">{{ encounter.count | number }}</td>
        <td class="w-10">{{ encounter.difficulty }}</td>
        <td class="w-10">{{ encounter.type }}</td>
        <td class="w-10">{{ encounter.xp | number }}</td>
        <td class="w-10 text-right">
          <button type="button" class="btn btn-link" (click)="monsterDetailDialog(encounter)" title="">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>