{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "bracketSameLine": false
}
